/* REGOLE GENERALI */
.colored * {
  height: 20vh;
  background-color: #ffc0cb;
  border: solid 1px black;

  text-align: center;
  line-height: 20vh;
  vertical-align: middle;
}

/* REGOLE ULTIMA RIGA */
.container:last-of-type > [class*="col-"] {
  padding: 5px;
}

/* REGOLE NESTED */
.nested {
  height: 100%;
  background-color: #f07f80;
  border: solid 1px white;

  padding-top: 7vh;
  line-height: normal;
}
